@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    ViewData["Title"] = "Search Results for \"Request\"";
}

<div data-elementor-type="wp-post" data-elementor-id="3156" class="elementor elementor-3156" data-elementor-settings="[]">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
            <!--вот эта секция вообще хз зачем нужна. Не вижу разницы - что ее нет, что она есть-->
            <section class="elementor-section elementor-top-section elementor-element elementor-element-f99356f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f99356f" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">
                        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-73a0151" data-id="73a0151" data-element_type="column">
                            <div class="elementor-column-wrap elementor-element-populated">
                                <div class="elementor-widget-wrap">
                                    <div class="elementor-element elementor-element-3517e9a elementor-widget elementor-widget-archive_info" data-id="3517e9a" data-element_type="widget" data-widget_type="archive_info.default">
                                        <div class="elementor-widget-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--секция "нет результатов поиска"-->
            <section class="elementor-section elementor-top-section elementor-element elementor-element-e1cebc8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e1cebc8" data-element_type="section">
                <div class="elementor-container elementor-column-gap-default">
                    <div class="elementor-row">

                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-12bea32 elementor-widget elementor-widget-archive_blog_post" data-id="12bea32" data-element_type="widget" data-widget_type="archive_blog_post.default">
                                    <div class="elementor-widget-container">
                                        <div class="archive-of-wps  gallery-post-on ">
                                            <div class="archive-post-section">
                                                <div class="archive-start">
                                                    <div class="search-not-found-end-page">
                                                        <i class="fa fa-search background-shadow-icon" aria-hidden="true"></i>
                                                        <h2 class="no-found-search">Nothing Found</h2>
                                                        <p class="discription-search-error">Very Sorry About this. We cannot Find Any Result about Your Search</p>
                                                    </div>
                                                    <div class="error-page-set">
                                                        <div class="page-content">
                                                            <p class="title-next-search">Maybe try a search?</p>
                                                            <div class="error-search-box">
                                                                <form class="themain-search-bbs" action="https://preview.spraythemes.com/maganizer/" method="get">
                                                                    <input type="text" name="s" id="search" placeholder="Search and Hit Enter" value="1234">
                                                                    <input class="seach-here" type="submit" id="searchsubmit" value="Search">
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <!-- .page-content -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>

        </div>
    </div>
</div>
