@using Maganizer_Project.DAL.Entities
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <div class="container">
        <div class="row">
            <div class="menu-left-side col-md-8">
                <div class="menu-top-menu-container">
                    <ul id="top-menu" class="menu">
                        <li id="menu-item-2687"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-2687">
                            <a>Home</a>
                        </li>
                        <li id="menu-item-3396"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3396">
                            <a asp-controller="UserProfile" asp-action="GetMyProfile">My Profile</a>
                        </li>
                        <li id="menu-item-3396"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3396">
                            <ul class="sub-menu">
                                
                                
                                
                            </ul>
                        </li>
                        <li id="menu-item-3396"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3396">
                            <a>Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="today-date col-md-4">
                <div>
                    <a asp-controller="Account" asp-action="SignOut" class="btn purple">Sign Out</a>
                </div>
                <i class="far fa-calendar-alt"></i>@DateTime.Now.ToString("dddd, dd MMMM yyyy")
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="menu-left-side col-md-8">
                <div class="menu-top-menu-container">
                    <ul id="top-menu" class="menu">
                        <li id="menu-item-2687"
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-2687">
                            <a>Home</a>
                        </li>
                        <li id="menu-item-3396"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3396">
                            <ul class="sub-menu">
                                
                                
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="today-date col-md-4">
                <div>
                    <a asp-controller="Account" asp-action="SignIn" class="btn blue">Sign In</a>
                    <a asp-controller="Account" asp-action="SignUp" class="btn green">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
}