@model Maganizer_Project.WEB.Models.TagsViewModel

<div class="main-title">
    <div class="left-side-text">
        <h2><span class="first-class">Top</span><span class="highlight">Tags</span></h2>
        <span id="sub-text-new" class="sub-text-new">Top Tag Cloud</span>
    </div>
    <span class="post-counter">
        <span>
            @Model.Tags.Count()
        </span>
        <span class="textfed">
            Tags
        </span>
    </span>
</div>
<ul class="all-post-tags ">
    @for (int i = 0; i < 20 && i < Model.Tags.Count(); i++)
    {
        <li><a title="@Model.Tags[i].Name">@Model.Tags[i].Name</a></li>

    }
</ul>


