
@{
  Layout = "_AdminLayout";
}

<body>
  <!--Основные таблицы-->
  <div class="lime-container">
    <div class="lime-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Users</h5>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Login</th>
                        <th scope="col">Password</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>user1@mail.com</td>
                        <td>usr1</td>
                        <td>1234</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>user2@mail.com</td>
                        <td>usr2</td>
                        <td>1234</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>user3@mail.com</td>
                        <td>usr3</td>
                        <td>1234</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>user4@mail.com</td>
                        <td>usr4</td>
                        <td>1234</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>user5@mail.com</td>
                        <td>usr5</td>
                        <td>1234</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tags</h5>
                <div class="social-media-list">
                  <div class="social-media-item">
                    <div class="social-text">
                      <p>#tag1</p>
                    </div>
                  </div>
                  <div class="social-media-item">
                    <div class="social-text">
                      <p>#tag2</p>
                    </div>
                  </div>
                  <div class="social-media-item">
                    <div class="social-text">
                      <p>#tag3</p>
                    </div>
                  </div>
                  <div class="social-media-item">
                    <div class="social-text">
                      <p>#tag4</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="lime-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <span class="footer-text">2021 © develop</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
