.elementor-3574 .elementor-element.elementor-element-1b18af3>.elementor-element-populated {
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .main-title .arrow-sliders .arrow-size,
.main-title .arrow-sliders .arrow-size.right_arrow {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .main-title .arrow-sliders .arrow-size i {
	color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-abe2bda .dark-content-area .daki-slider-pack .top-content .height-sizer {
	padding-top: 140%
}

.elementor-3574 .elementor-element.elementor-element-bcd7cfa>.elementor-container {
	max-width: 1140px
}

.elementor-3574 .elementor-element.elementor-element-2ba5ab3>.elementor-element-populated {
	margin: 0 0 0 0;
	padding: 0 20px 0 0
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-5c70a41 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-5c70a41>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-b047a17 .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-b047a17 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-b047a17 .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-b047a17 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-b047a17 .latest-blog-post .latest-post-start .left-side-post .image-of-left .height-sizer {
	padding-top: 70%
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .main-title .arrow-sliders .arrow-size,
.main-title .arrow-sliders .arrow-size.right_arrow {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .main-title .arrow-sliders .arrow-size i {
	color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-8344b03 .full-image-slider .full-slider-start .item .image-pack .height-sizer {
	padding-top: 50%
}

.elementor-3574 .elementor-element.elementor-element-93f4d60>.elementor-element-populated {
	padding: 0 0 0 20px
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-69137c1 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-69137c1>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-063554b .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-063554b .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-063554b .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-063554b .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-e346cc8 .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-e346cc8 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-e346cc8 .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-e346cc8 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-c1ae878>.elementor-container {
	max-width: 1140px
}

.elementor-3574 .elementor-element.elementor-element-7a23517>.elementor-element-populated {
	margin: 20px 0 0 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-b29b48a .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-b29b48a>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-2e37312 .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-2e37312 .main-title .post-counter.no-background {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-2e37312 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-2e37312 .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-e267149>.elementor-container {
	max-width: 1140px
}

.elementor-3574 .elementor-element.elementor-element-e267149:not(.elementor-motion-effects-element-type-background),
.elementor-3574 .elementor-element.elementor-element-e267149>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #F5F5F7;
}

.elementor-3574 .elementor-element.elementor-element-e267149 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 40px 0 40px 0
}

.elementor-3574 .elementor-element.elementor-element-e267149>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-3574 .elementor-element.elementor-element-acd58e9>.elementor-element-populated {
	margin: 0 0 0 0;
	padding: 0 20px 0 0
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-dbbe832 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-dbbe832>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .ajax-post-archive .wps-loader-posts .archive-post-section:first-child .post-image-thumb .height-sizer {
	padding-top: 48%
}

.elementor-3574 .elementor-element.elementor-element-4e6da8b .ajax-post-archive .wps-loader-posts .archive-post-section .post-image-thumb .height-sizer {
	padding-top: 65%
}

.elementor-3574 .elementor-element.elementor-element-0e3732e:not(.elementor-motion-effects-element-type-background)>.elementor-column-wrap,
.elementor-3574 .elementor-element.elementor-element-0e3732e>.elementor-column-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: #FFF
}

.elementor-3574 .elementor-element.elementor-element-0e3732e>.elementor-element-populated {
	box-shadow: 0 0 24px -17px rgba(0, 0, 0, .5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 25px 25px 25px 25px
}

.elementor-3574 .elementor-element.elementor-element-0e3732e>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-a0b2cfa>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0 .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0 .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0 .main-title .sub-text-new {
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0 .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0 .tags-cloud .all-post-tags li a {
	border-color: #D4D4D4;
	color: #3E3E3E
}

.elementor-3574 .elementor-element.elementor-element-0ddf8d0>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title .left-side-text h2 {
	color: #2A2A2A
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title.style-two {
	border-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title .sub-text-new,
{
	color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title.style-two .left-side-text h2 .first-class {
	background-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title.style-three {
	border-color: #E1E1E1
}

.elementor-3574 .elementor-element.elementor-element-fb2178f .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-fb2178f>.elementor-widget-container {
	margin: 20px 0 20px 0;
	padding: 0 0 0 0
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .main-title .left-side-text h2 {
	color: #3a3a3a
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .main-title .left-side-text h2 .first-class:before {
	background-color: #34d77a
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .main-title .sub-text-new {
	color: #13181c
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .main-title .post-counter {
	border-color: #EDEDED
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .height-sizer,
.simple-post-list .post-list-package .list-post .post-image-left .height-sizer {
	padding-top: 80%
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .simple-post-list .post-content h2.simple-title-color {
	color: #000
}

.elementor-3574 .elementor-element.elementor-element-5ec7e2b .left-post-list-package.vertic-post-ss,
.main-title .post-counter {
	border-color: #E6E6E6
}

@media(min-width:768px) {
	.elementor-3574 .elementor-element.elementor-element-7a23517 {
		width: 100%
	}
}