@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up | Maganizer</title>
    <meta charset="UTF-8">
    <link rel="icon" href="~/images/cropped-01-progress-32x32.gif" sizes="32x32">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="~/fonts/icon-font.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/animate.css">

    <link rel="stylesheet" type="text/css" href="~/css/hamburgers.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/animsition.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/select2.min.css">

    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css">

    <link rel="stylesheet" type="text/css" href="~/css/util.css">

    <link rel="stylesheet" type="text/css" href="~/css/login.css">

</head>

<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title"
                     style="background-image: url(images/logo.svg); background-size: auto;">
                    <span class="login100-form-title-1">
                        <ul class="links">
                            <li class="signin-active">
                                <h2>Email Verification</h2>
                            </li>
                        </ul>
                    </span>
                </div>
                <div class="email-verification">
                    <h2>Thank you! Your email is successfully verified. Now you can <a asp-controller="Account" asp-action="SignIn">sign in</a>.</h2>
                </div>

            </div>
        </div>
    </div>

</body>

</html>

