@model Maganizer_Project.Models.ContactUsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contact Us | Maganizer";

}




<div id="pagebuilder-3393" class="main-page-builder">
    <div class=".post-content">
        <div data-elementor-type="wp-post" data-elementor-id="3382" class="elementor elementor-3382" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-0839706 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0839706" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-aad9e84" data-id="aad9e84" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-dc23e4b elementor-widget elementor-widget-heading" data-id="dc23e4b" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-small">We Like to know your Suggestions</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-6a80ea7 elementor-widget elementor-widget-heading" data-id="6a80ea7" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h2 class="elementor-heading-title elementor-size-xxl">Contact us</h2>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-3644035 elementor-widget elementor-widget-text-editor" data-id="3644035" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">
                                                        <p>We always appreciate honest feedback, constructive criticism and useful link suggestions. We never read copy-pasted PR or marketing material, so sending some over isn’t a good idea. Seriously.</p>
                                                        <p>If you’re interested in writing for us, please submit a detailed outline of your idea, as explained in our guidelines. We receive a large number of pitches, therefore we will be unable to respond to those which do not include an outline.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <section class="elementor-section elementor-inner-section elementor-element elementor-element-e8c8ab2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e8c8ab2" data-element_type="section">
                                                <div class="elementor-container elementor-column-gap-default">
                                                    <div class="elementor-row">
                                                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-afd8143" data-id="afd8143" data-element_type="column">
                                                            <div class="elementor-column-wrap elementor-element-populated">
                                                                <div class="elementor-widget-wrap">
                                                                    <div class="elementor-element elementor-element-e1e717f elementor-widget elementor-widget-image" data-id="e1e717f" data-element_type="widget" data-widget_type="image.default">
                                                                        <div class="elementor-widget-container">
                                                                            <div class="elementor-image">
                                                                                <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg.webp 683w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-600x900.jpg.webp 600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-200x300.jpg.webp 200w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-768x1152.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1024x1536.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1366x2048.jpg.webp 1366w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled.jpg 1707w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg 683w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-600x900.jpg 600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-200x300.jpg 200w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-768x1152.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1024x1536.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1366x2048.jpg 1366w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled.jpg 1707w" data-class="attachment-large size-large" data-height="1024" data-sizes="(max-width: 683px) 100vw, 683px" data-width="683" class="ewww_webp"><img width="683" height="1024" src="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-683x1024.jpg 683w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-600x900.jpg 600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-200x300.jpg 200w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-768x1152.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1024x1536.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-1366x2048.jpg 1366w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled.jpg 1707w" sizes="(max-width: 683px) 100vw, 683px" data-eio="j" /></noscript>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </section>
                                            <div class="elementor-element elementor-element-0409c79 elementor-widget elementor-widget-heading" data-id="0409c79" data-element_type="widget" data-widget_type="heading.default">
                                                <div class="elementor-widget-container">
                                                    <h5 class="elementor-heading-title elementor-size-default">Send Us Message</h5>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-f709f7d elementor-widget elementor-widget-shortcode" data-id="f709f7d" data-element_type="widget" data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode">
                                                        <div role="form" class="wpcf7" id="wpcf7-f3099-p3393-o1" lang="en-US" dir="ltr">
                                                            <div class="screen-reader-response">
                                                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                                                <ul></ul>
                                                            </div>

                                                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                                                            {
                                                                <div class="alert alert-danger" role="alert">
                                                                    <a class="close" data-dismiss="alert"></a>
                                                                    @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                                                                    {
                                                                        <p>@modelError.ErrorMessage</p>
                                                                    }
                                                                </div>
                                                            }

                                                            @if (Model != null && Model.Success)
                                                            {
                                                                <div class="alert alert-success" role="alert">
                                                                    <a class="close" data-dismiss="alert"></a>
                                                                    <p>Thank you for you suggestion! Your message has been sent. We will answer very soon!</p>
                                                                </div>
                                                            }

                                                            <form asp-action="SendContactMessage" asp-controller="Home" method="post" class="wpcf7-form init" novalidate="novalidate" data-status="init">

                                                                <p>
                                                                    <label>
                                                                        Subject (optional)
                                                                    </label><br />
                                                                    <span class="wpcf7-form-control-wrap your-subject">
                                                                        <input asp-for="@Model.Subject" type="text" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" />
                                                                    </span>
                                                                </p>
                                                                <p>
                                                                    <label>
                                                                        Your message
                                                                    </label>
                                                                    <br />
                                                                    <span class="wpcf7-form-control-wrap your-message">
                                                                        <textarea asp-for="@Model.Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false">
                                    </textarea>
                                                                    </span>
                                                                </p>
                                                                <p><input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit" /></p>
                                                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                                                            </form>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>