@{ 
    Layout = null;
}


<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Maganizer - Home</title>
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C500%2C700%7CRaleway%3A500%2C600%7CRoboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto%20Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&subset=latin%2Clatin-ext&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <meta name="robots" content="noindex,nofollow">
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Feed" href="https://preview.spraythemes.com/maganizer/feed/">
    <link rel="alternate" type="application/rss+xml" title="Maganizer WordPress Theme &raquo; Comments Feed" href="https://preview.spraythemes.com/maganizer/comments/feed/">
    <style type="text/css">
        img.wp-smiley, img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <link rel="preload" id="wp-block-library-css" href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/style.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="wp-block-library-theme-css" href="https://preview.spraythemes.com/maganizer/wp-includes/css/dist/block-library/theme.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-vendors-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/vendors-style-696a07b27d826107c883ee13c3bf0f1d.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="wc-block-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/style-619198ef5e47ed70e638b84c92e064f4.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="contact-form-7-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/contact-form-7/includes/css/styles-ec4e57bff0e835ef28b4c89cb1717afb.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="woocommerce-layout-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-layout-cc005ffd959c6bb1743989183a963496.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="woocommerce-smallscreen-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen-5.0.0.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="only screen and (max-width: 768px)">
    <link data-minify="1" rel="preload" id="woocommerce-general-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/plugins/woocommerce/assets/css/woocommerce-cc40354525cf8823ccc9a7aae64db877.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <style id="woocommerce-inline-inline-css" type="text/css">
        .woocommerce form .form-row .required {
            visibility: visible
        }
    </style>
    <link data-minify="1" rel="preload" id="maganizer-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/style-bcc325fd19686fb7147f5ca545eac7b6.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="bootstrap-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/bootstrap-grid.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="owl-carousel-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/owl.carousel.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="font-awesome-four-css" href="https://preview.spraythemes.com/maganizer/wp-content/themes/maganizer/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="maganizer-blocks-main-style-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/themes/maganizer/css/wps_style-c4183db079b4e89a7a8d7a285e67dd35.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <script type="text/javascript" src="~/js/jquery.min-3.5.1.js" id="jquery-core-js"></script>
    <link rel="https://api.w.org/" href="https://preview.spraythemes.com/maganizer/wp-json/">
    <link rel="alternate" type="application/json" href="https://preview.spraythemes.com/maganizer/wp-json/wp/v2/pages/3571">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://preview.spraythemes.com/maganizer/xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://preview.spraythemes.com/maganizer/wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.6.2">
    <meta name="generator" content="WooCommerce 5.0.0">
    <link rel="canonical" href="https://preview.spraythemes.com/maganizer/magazine-4/">
    <link rel="shortlink" href="https://preview.spraythemes.com/maganizer/?p=3571">
    <style type="text/css">
        .ae_data .elementor-editor-element-setting {
            display: none !important
        }
    </style>
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important
            }
        </style>
    </noscript>
    <link rel="icon" href="images/cropped-01-progress-32x32.gif" sizes="32x32">
    <link rel="icon" href="images/cropped-01-progress-192x192.gif" sizes="192x192">
    <link rel="apple-touch-icon" href="images/cropped-01-progress-180x180.gif">
    <meta name="msapplication-TileImage" content="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/07/cropped-01-progress-270x270.gif">
    <script>
/*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
      (function(w){"use strict";if(!w.loadCSS){w.loadCSS=function(){}}
      var rp=loadCSS.relpreload={};rp.support=(function(){var ret;try{ret=w.document.createElement("link").relList.supports("preload")}catch(e){ret=!1}
      return function(){return ret}})();rp.bindMediaToggle=function(link){var finalMedia=link.media||"all";function enableStylesheet(){link.media=finalMedia}
      if(link.addEventListener){link.addEventListener("load",enableStylesheet)}else if(link.attachEvent){link.attachEvent("onload",enableStylesheet)}
      setTimeout(function(){link.rel="stylesheet";link.media="only x"});setTimeout(enableStylesheet,3000)};rp.poly=function(){if(rp.support()){return}
      var links=w.document.getElementsByTagName("link");for(var i=0;i<links.length;i++){var link=links[i];if(link.rel==="preload"&&link.getAttribute("as")==="style"&&!link.getAttribute("data-loadcss")){link.setAttribute("data-loadcss",!0);rp.bindMediaToggle(link)}}};if(!rp.support()){rp.poly();var run=w.setInterval(rp.poly,500);if(w.addEventListener){w.addEventListener("load",function(){rp.poly();w.clearInterval(run)})}else if(w.attachEvent){w.attachEvent("onload",function(){rp.poly();w.clearInterval(run)})}}
      if(typeof exports!=="undefined"){exports.loadCSS=loadCSS}
      else{w.loadCSS=loadCSS}}(typeof global!=="undefined"?global:this))
    </script>
</head>
<body class="page-template page-template-demo-page page-template-demo-page-php page page-id-3571 wp-embed-responsive theme-maganizer woocommerce-no-js elementor-default elementor-kit-2228">
    <header class="header-style-three" <="" <div="">
    <div class="container">
      <div class="header-logo-side"> <a href="https://preview.spraythemes.com/maganizer"> <img src="~/fonts/logo.svg" alt="Maganizer WordPress Theme"> </a></div>
    </div>
    <div class="last-section">
      <div class="container">
        <div id="wps-installed" class="main-menu-placement second-layer">
          <div class="mobile-menu-burger"> <i class="fas fa-bars mobile-menu-switch"></i></div>
          <div class="menu-side main-menu-in-middle">
            <div class="menu-main-menu-container">
              <ul id="main-menu" class="menu">
                <li id="menu-item-2443" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2443">
                  <a href="https://preview.spraythemes.com/maganizer/">Home</a>
                  <ul class="sub-menu">
                    <li id="menu-item-2863" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2863"><a href="https://preview.spraythemes.com/maganizer/magazine-2/">Magazine 2</a></li>
                  </ul>
                </li>
                <li id="menu-item-2447" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2447">
                  <a href="https://preview.spraythemes.com/maganizer/2020/06/05/beard-man-holding-cassette-lying-on-blue-and-violet-linen/">Contact Us</a>

                </li>
                <li id="menu-item-3322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3322">
                  <a href="https://preview.spraythemes.com/maganizer/tag/color/">Archive Design</a>
                  <ul class="sub-menu">
                    <li id="menu-item-3319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3319"><a href="https://preview.spraythemes.com/maganizer/author/admin/">User Post Archive</a></li>
                    <li id="menu-item-3321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3321"><a href="https://preview.spraythemes.com/maganizer/tag/color/">Tags Archive</a></li>
                    <li id="menu-item-3323" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3323"><a href="https://preview.spraythemes.com/maganizer/category/mix-of-art/">Category Archive</a></li>
                  </ul>
                </li>
                <li id="menu-item-2711" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2711"><a href="https://preview.spraythemes.com/maganizer/shop/">Sign Up</a></li>
              </ul>
            </div>
          </div>
          <div class="menu-social-side">
            <ul>
              <li> <a href="https://www.facebook.com/envato"> <i class="fab fa-facebook-f"></i> </a></li>
              <li> <a href="http://twitter.com/envato"> <i class="fab fa-twitter"></i> </a></li>
              <li> <a href="http://youtube.com/envato"> <i class="fab fa-youtube"></i> </a></li>
              <li> <a href="http://instagram.com/envato"> <i class="fab fa-instagram"></i> </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </header>
    <div class="mobile-menu-section">
        <span class="closing-area"></span>
        <div class="mobile-menu-header">
            <div class="search-box-mobile-menu">
                <form role="search" method="get" class="search-form" action="https://preview.spraythemes.com/maganizer/"> <label> <span class="screen-reader-text">Search for:</span> <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s"> </label> <input type="submit" class="search-submit" value="Search"></form>
            </div>
            <i class="fas fa-times close-menu"></i>
        </div>
        <div class="mobile-menu-ss " id="main-mobile-menusc">
            <div class="side-place-for-social">
                <p class="single-text-rotate">Follow Us On Social</p>
                <div class="menu-social-side">
                    <ul>
                        <li> <a href="https://www.facebook.com/envato"> <i class="fab fa-facebook-f"></i> </a></li>
                        <li> <a href="http://twitter.com/envato"> <i class="fab fa-twitter"></i> </a></li>
                        <li> <a href="http://youtube.com/envato"> <i class="fab fa-youtube"></i> </a></li>
                        <li> <a href="http://instagram.com/envato"> <i class="fab fa-instagram"></i> </a></li>
                    </ul>
                </div>
            </div>
            <div class="menu-main-menu-container">
                <ul id="main-menu-top-set" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-2443">
                        <a href="https://preview.spraythemes.com/maganizer/">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2863"><a href="https://preview.spraythemes.com/maganizer/magazine-2/">Magazine 2</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2447">
                        <a href="https://preview.spraythemes.com/maganizer/2020/06/05/beard-man-holding-cassette-lying-on-blue-and-violet-linen/">Page Design</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2830"><a href="https://preview.spraythemes.com/maganizer/2020/06/05/red-coca-cola-signage-surrounded-by-other-signages/">Fixed Video</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2834"><a href="https://preview.spraythemes.com/maganizer/2020/06/05/beard-man-holding-cassette-lying-on-blue-and-violet-linen-2/">Full Width Post</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2838"><a href="https://preview.spraythemes.com/maganizer/2020/06/05/beard-man-holding-cassette-lying-on-blue-and-violet-linen/">Left Sidebar Single Page</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3322">
                        <a href="https://preview.spraythemes.com/maganizer/tag/color/">Archive Design</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3319"><a href="https://preview.spraythemes.com/maganizer/author/admin/">User Post Archive</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3321"><a href="https://preview.spraythemes.com/maganizer/tag/color/">Tags Archive</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3323"><a href="https://preview.spraythemes.com/maganizer/category/mix-of-art/">Category Archive</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2711"><a href="https://preview.spraythemes.com/maganizer/shop/">Shop</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="pagebuilder-3571" class="main-page-builder">
        <div class=".post-content" ">
            <div data-elementor-type="wp-post" data-elementor-id="3574" class="elementor elementor-3574" data-elementor-settings="[]">
                <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-62eeb6e elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="62eeb6e" data-element_type="section">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1b18af3" data-id="1b18af3" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-abe2bda elementor-widget elementor-widget-Full-page-slider" data-id="abe2bda" data-element_type="widget" data-widget_type="Full-page-slider.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="dark-content-area">
                                                            <div class="container-slider">
                                                                <div class="daki-slider-pack">
                                                                    <div id="default_dark_unique_id_9859" class="owl-carousel owl-theme">
                                                                        <div class="item">
                                                                            <div class="owl-content-slider">
                                                                                <div class="top-content">
                                                                                    <div class="height-sizer"></div>
                                                                                    <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/bright-clear-close-up-dark-401107-scaled-440x340.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/bright-clear-close-up-dark-401107-scaled-440x340.jpg.webp" data-alt="Eye Care Edison bulb is New Era of LED build Replacement" data-class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" data-height="340" data-width="440" class="ewww_webp"><img width="440" height="340" src="~/images/bright-clear-close-up-dark-401107-scaled-440x340.jpg" class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" alt="Eye Care Edison bulb is New Era of LED build Replacement" loading="lazy" data-eio="j"></noscript>
                                                                                    <div class="top-tag"> Bulb</div>
                                                                                    <div class="post-content">
                                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/31/eye-care-edison-bulb-is-new-era-of-led-build-replacement/">
                                                                                            <h2>Eye Care Edison bulb is New Era of LED build Replacement</h2>
                                                                                        </a>
                                                                                        <div class="post-meta-data"> <span class="posted-by">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author">WPSmart</a> <span class="meta-links post-date">9 months ago</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <div class="owl-content-slider">
                                                                                <div class="top-content">
                                                                                    <div class="height-sizer"></div>
                                                                                    <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/side-view-photo-of-woman-2010877-scaled-440x340.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/side-view-photo-of-woman-2010877-scaled-440x340.jpg.webp" data-alt="Before You Go out Night, 10 Things You Need to Follow" data-class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" data-height="340" data-width="440" class="ewww_webp"><img width="440" height="340" src="~/images/side-view-photo-of-woman-2010877-scaled-440x340.jpg" class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" alt="Before You Go out Night, 10 Things You Need to Follow" loading="lazy" data-eio="j"></noscript>
                                                                                    <div class="top-tag"> follow</div>
                                                                                    <div class="post-content">
                                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/31/before-you-go-out-night-10-things-you-need-to-follow/">
                                                                                            <h2>Before You Go out Night, 10 Things You Need to Follow</h2>
                                                                                        </a>
                                                                                        <div class="post-meta-data"> <span class="posted-by">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author">WPSmart</a> <span class="meta-links post-date">9 months ago</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <div class="owl-content-slider">
                                                                                <div class="top-content">
                                                                                    <div class="height-sizer"></div>
                                                                                    <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/person-wearing-black-and-yellow-x-face-mask-beside-silver-1481954-scaled-440x340.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/person-wearing-black-and-yellow-x-face-mask-beside-silver-1481954-scaled-440x340.jpg.webp" data-alt="Anonymous Style Neon Mask At Silent Night" data-class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" data-height="340" data-width="440" class="ewww_webp"><img width="440" height="340" src="~/images/person-wearing-black-and-yellow-x-face-mask-beside-silver-1481954-scaled-440x340.jpg" class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" alt="Anonymous Style Neon Mask At Silent Night" loading="lazy" data-eio="j"></noscript>
                                                                                    <div class="top-tag"> car</div>
                                                                                    <div class="post-content">
                                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/anonymous-style-neon-mask-at-silent-night/">
                                                                                            <h2>Anonymous Style Neon Mask At Silent Night</h2>
                                                                                        </a>
                                                                                        <div class="post-meta-data"> <span class="posted-by">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author">WPSmart</a> <span class="meta-links post-date">9 months ago</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <div class="owl-content-slider">
                                                                                <div class="top-content">
                                                                                    <div class="height-sizer"></div>
                                                                                    <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/scenic-view-of-buildings-during-evening-1707213-scaled-440x340.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/scenic-view-of-buildings-during-evening-1707213-scaled-440x340.jpg.webp" data-alt="Hot Blue and Pinkey Night:- Dark And Silent Night Mode" data-class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" data-height="340" data-width="440" class="ewww_webp"><img width="440" height="340" src="~/images/scenic-view-of-buildings-during-evening-1707213-scaled-440x340.jpg" class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" alt="Hot Blue and Pinkey Night:- Dark And Silent Night Mode" loading="lazy" data-eio="j"></noscript>
                                                                                    <div class="top-tag"> dark</div>
                                                                                    <div class="post-content">
                                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/hot-blue-and-pinkey-night-dark-and-silent-night-mode/">
                                                                                            <h2>Hot Blue and Pinkey Night:- Dark And Silent Night Mode</h2>
                                                                                        </a>
                                                                                        <div class="post-meta-data"> <span class="posted-by">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author">WPSmart</a> <span class="meta-links post-date">9 months ago</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="item">
                                                                            <div class="owl-content-slider">
                                                                                <div class="top-content">
                                                                                    <div class="height-sizer"></div>
                                                                                    <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/colorful-hotel-building-led-signage-in-night-time-3678857-scaled-440x340.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/colorful-hotel-building-led-signage-in-night-time-3678857-scaled-440x340.jpg.webp" data-alt="Hottel Building At night: Best Place You Have to Visit at Night In Italy" data-class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" data-height="340" data-width="440" class="ewww_webp"><img width="440" height="340" src="~/images/colorful-hotel-building-led-signage-in-night-time-3678857-scaled-440x340.jpg" class="attachment-maganizer-medium-post-thumb size-maganizer-medium-post-thumb wp-post-image" alt="Hottel Building At night: Best Place You Have to Visit at Night In Italy" loading="lazy" data-eio="j"></noscript>
                                                                                    <div class="top-tag"> Color</div>
                                                                                    <div class="post-content">
                                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/hottel-building-at-night-best-place-you-have-to-visit-at-night-in-italy/">
                                                                                            <h2>Hottel Building At night: Best Place You Have to Visit at Night In Italy</h2>
                                                                                        </a>
                                                                                        <div class="post-meta-data"> <span class="posted-by">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author">WPSmart</a> <span class="meta-links post-date">9 months ago</span></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="elementor-section elementor-top-section elementor-element elementor-element-e267149 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e267149" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-container elementor-column-gap-default">
                                <div class="elementor-row">
                                    <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-acd58e9" data-id="acd58e9" data-element_type="column">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-dbbe832 elementor-widget elementor-widget-custom-title-design" data-id="dbbe832" data-element_type="widget" data-widget_type="custom-title-design.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="main-title style-three">
                                                            <div class="left-side-text">
                                                                <h2><span class="first-class">Latest News</span></h2>
                                                            </div>
                                                            <span class="post-counter style-three"> <a href="https://preview.spraythemes.com/maganizer/category/mix-of-art/">See All</a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-4e6da8b elementor-widget elementor-widget-ajax-archive-post-list" data-id="4e6da8b" data-element_type="widget" data-widget_type="ajax-archive-post-list.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="ajax-post-archive">
                                                            <div class="wps-loader-posts32">
                                                                <div class="archive-post-section-list">
                                                                    <div class="post-image-thumb">
                                                                        <div class="height-sizer"></div>
                                                                        <i class="post-type-top-icon fas fa-images"></i>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg.webp 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-300x203.jpg.webp 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-1024x693.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-768x520.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-1536x1040.jpg.webp 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-600x406.jpg.webp 600w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-300x203.jpg 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-1024x693.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-768x520.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-1536x1040.jpg 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/5O6J5CHMABDM5JGEI2ZI6INVSE-600x406.jpg 600w" data-alt="Ex-CIA engineer tells judge he&#8217;s incarcerated like an animal" data-class="attachment- size- wp-post-image" data-height="1083" data-sizes="(max-width: 1600px) 100vw, 1600px" data-width="1600" class="ewww_webp"><img width="1600" height="1083" src="~/images/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg" class="attachment- size- wp-post-image" alt="Ex-CIA engineer tells judge he&#8217;s incarcerated like an animal" loading="lazy" srcset="images/5O6J5CHMABDM5JGEI2ZI6INVSE.jpg 1600w, images/5O6J5CHMABDM5JGEI2ZI6INVSE-300x203.jpg 300w, images/5O6J5CHMABDM5JGEI2ZI6INVSE-1024x693.jpg 1024w, images/5O6J5CHMABDM5JGEI2ZI6INVSE-768x520.jpg 768w, images/5O6J5CHMABDM5JGEI2ZI6INVSE-1536x1040.jpg 1536w, images/5O6J5CHMABDM5JGEI2ZI6INVSE-600x406.jpg 600w" sizes="(max-width: 1600px) 100vw, 1600px" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section">
                                                                        <div class="mets-and-ttl">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">4 weeks ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2021/01/25/ex-cia-engineer-tells-judge-hes-incarcerated-like-an-animal/">
                                                                                <h2>Ex-CIA engineer tells judge he&#8217;s incarcerated like an animal</h2>
                                                                            </a>
                                                                        </div>
                                                                        <p class="simple-post-content">Apart from squeezable ketchup bottles and post-its, flying is probably one of the coolest inventions ever: You get...</p>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-post-section-list">
                                                                    <div class="post-image-thumb">
                                                                        <div class="height-sizer"></div>
                                                                        <i class="post-type-top-icon fas fa-images"></i>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI.jpg.webp 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-300x207.jpg.webp 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-1024x708.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-768x531.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-1536x1062.jpg.webp 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-600x415.jpg.webp 600w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI.jpg 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-300x207.jpg 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-1024x708.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-768x531.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-1536x1062.jpg 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/O6OSOP7WXJHINNX2IFE42UZNUI-600x415.jpg 600w" data-alt="85-year-old fan&#8217;s streak of Packers playoff games will go on" data-class="attachment- size- wp-post-image" data-height="1106" data-sizes="(max-width: 1600px) 100vw, 1600px" data-width="1600" class="ewww_webp"><img width="1600" height="1106" src="images/O6OSOP7WXJHINNX2IFE42UZNUI.jpg" class="attachment- size- wp-post-image" alt="85-year-old fan&#8217;s streak of Packers playoff games will go on" loading="lazy" srcset="images/O6OSOP7WXJHINNX2IFE42UZNUI.jpg 1600w, images/O6OSOP7WXJHINNX2IFE42UZNUI-300x207.jpg 300w, images/O6OSOP7WXJHINNX2IFE42UZNUI-1024x708.jpg 1024w, images/O6OSOP7WXJHINNX2IFE42UZNUI-768x531.jpg 768w, images/O6OSOP7WXJHINNX2IFE42UZNUI-1536x1062.jpg 1536w, images/O6OSOP7WXJHINNX2IFE42UZNUI-600x415.jpg 600w" sizes="(max-width: 1600px) 100vw, 1600px" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section">
                                                                        <div class="mets-and-ttl">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">4 weeks ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2021/01/25/85-year-old-fans-streak-of-packers-playoff-games-will-go-on/">
                                                                                <h2>85-year-old fan&#8217;s streak of Packers playoff games will go on</h2>
                                                                            </a>
                                                                        </div>
                                                                        <p class="simple-post-content">Apart from squeezable ketchup bottles and post-its, flying is probably one of the coolest inventions ever: You get...</p>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-post-section-list">
                                                                    <div class="post-image-thumb">
                                                                        <div class="height-sizer"></div>
                                                                        <i class="post-type-top-icon fas fa-images"></i>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg.webp 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-300x200.jpg.webp 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-1024x682.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-768x512.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-1536x1023.jpg.webp 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-600x400.jpg.webp 600w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-300x200.jpg 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-1024x682.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-768x512.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-1536x1023.jpg 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/L2C46UM3PZGLXDQ7KOVBFK5UT4-600x400.jpg 600w" data-alt="‘It was a mistake,’: Texas State University says after Rep. Doggett’s video omitted from the program" data-class="attachment- size- wp-post-image" data-height="1066" data-sizes="(max-width: 1600px) 100vw, 1600px" data-width="1600" class="ewww_webp"><img width="1600" height="1066" src="images/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg" class="attachment- size- wp-post-image" alt="‘It was a mistake,’: Texas State University says after Rep. Doggett’s video omitted from the program" loading="lazy" srcset="images/L2C46UM3PZGLXDQ7KOVBFK5UT4.jpg 1600w, images/L2C46UM3PZGLXDQ7KOVBFK5UT4-300x200.jpg 300w, images/L2C46UM3PZGLXDQ7KOVBFK5UT4-1024x682.jpg 1024w, images/L2C46UM3PZGLXDQ7KOVBFK5UT4-768x512.jpg 768w, images/L2C46UM3PZGLXDQ7KOVBFK5UT4-1536x1023.jpg 1536w, images/L2C46UM3PZGLXDQ7KOVBFK5UT4-600x400.jpg 600w" sizes="(max-width: 1600px) 100vw, 1600px" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section">
                                                                        <div class="mets-and-ttl">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">4 weeks ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2021/01/25/it-was-a-mistake-texas-state-university-says-after-rep-doggetts-video-omitted-from-the-program/">
                                                                                <h2>‘It was a mistake,’: Texas State University says after Rep. Doggett’s video omitted from the program</h2>
                                                                            </a>
                                                                        </div>
                                                                        <p class="simple-post-content">Apart from squeezable ketchup bottles and post-its, flying is probably one of the coolest inventions ever: You get...</p>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-post-section-list">
                                                                    <div class="post-image-thumb">
                                                                        <div class="height-sizer"></div>
                                                                        <i class="post-type-top-icon fab fa-itunes-note"></i>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg.webp 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-300x200.jpg.webp 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-1024x682.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-768x512.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-1536x1023.jpg.webp 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-600x400.jpg.webp 600w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-300x200.jpg 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-1024x682.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-768x512.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-1536x1023.jpg 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/CP726BGTOFEJXBHDUNUSHL4C7Q-600x400.jpg 600w" data-alt="States eye allowing concealed carry of guns without a permit" data-class="attachment- size- wp-post-image" data-height="1066" data-sizes="(max-width: 1600px) 100vw, 1600px" data-width="1600" class="ewww_webp"><img width="1600" height="1066" src="images/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg" class="attachment- size- wp-post-image" alt="States eye allowing concealed carry of guns without a permit" loading="lazy" srcset="images/CP726BGTOFEJXBHDUNUSHL4C7Q.jpg 1600w, images/CP726BGTOFEJXBHDUNUSHL4C7Q-300x200.jpg 300w, images/CP726BGTOFEJXBHDUNUSHL4C7Q-1024x682.jpg 1024w, images/CP726BGTOFEJXBHDUNUSHL4C7Q-768x512.jpg 768w, images/CP726BGTOFEJXBHDUNUSHL4C7Q-1536x1023.jpg 1536w, images/CP726BGTOFEJXBHDUNUSHL4C7Q-600x400.jpg 600w" sizes="(max-width: 1600px) 100vw, 1600px" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section">
                                                                        <div class="mets-and-ttl">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">4 weeks ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2021/01/25/states-eye-allowing-concealed-carry-of-guns-without-a-permit/">
                                                                                <h2>States eye allowing concealed carry of guns without a permit</h2>
                                                                            </a>
                                                                        </div>
                                                                        <p class="simple-post-content">Apart from squeezable ketchup bottles and post-its, flying is probably one of the coolest inventions ever: You get...</p>
                                                                    </div>
                                                                </div>
                                                                <div class="archive-post-section-list">
                                                                    <div class="post-image-thumb">
                                                                        <div class="height-sizer"></div>
                                                                        <i class="post-type-top-icon fas fa-quote-right"></i>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg.webp" data-srcset-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg.webp 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-300x200.jpg.webp 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-1024x682.jpg.webp 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-768x512.jpg.webp 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-1536x1023.jpg.webp 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-600x400.jpg.webp 600w" data-srcset-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg 1600w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-300x200.jpg 300w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-1024x682.jpg 1024w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-768x512.jpg 768w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-1536x1023.jpg 1536w, https://preview.spraythemes.com/maganizer/wp-content/uploads/2021/01/FWAUWVACPBF3JBC5GOQSJSUFLQ-600x400.jpg 600w" data-alt="Thousands take to streets protesting Brazil&#8217;s Bolsonaro" data-class="attachment- size- wp-post-image" data-height="1066" data-sizes="(max-width: 1600px) 100vw, 1600px" data-width="1600" class="ewww_webp"><img width="1600" height="1066" src="images/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg" class="attachment- size- wp-post-image" alt="Thousands take to streets protesting Brazil&#8217;s Bolsonaro" loading="lazy" srcset="images/FWAUWVACPBF3JBC5GOQSJSUFLQ.jpg 1600w, images/FWAUWVACPBF3JBC5GOQSJSUFLQ-300x200.jpg 300w, images/FWAUWVACPBF3JBC5GOQSJSUFLQ-1024x682.jpg 1024w, images/FWAUWVACPBF3JBC5GOQSJSUFLQ-768x512.jpg 768w, images/FWAUWVACPBF3JBC5GOQSJSUFLQ-1536x1023.jpg 1536w, images/FWAUWVACPBF3JBC5GOQSJSUFLQ-600x400.jpg 600w" sizes="(max-width: 1600px) 100vw, 1600px" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section">
                                                                        <div class="mets-and-ttl">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">4 weeks ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2021/01/25/thousands-take-to-streets-protesting-brazils-bolsonaro/">
                                                                                <h2>Thousands take to streets protesting Brazil&#8217;s Bolsonaro</h2>
                                                                            </a>
                                                                        </div>
                                                                        <p class="simple-post-content">Apart from squeezable ketchup bottles and post-its, flying is probably one of the coolest inventions ever: You get...</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="load-this-more">
                                                                <div class="loadmore-content">Load More</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0e3732e" data-id="0e3732e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-column-wrap elementor-element-populated">
                                            <div class="elementor-widget-wrap">
                                                <div class="elementor-element elementor-element-a0b2cfa elementor-widget elementor-widget-custom-title-design" data-id="a0b2cfa" data-element_type="widget" data-widget_type="custom-title-design.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="main-title style-three">
                                                            <div class="left-side-text">
                                                                <h2><span class="first-class">Latest Tags</span></h2>
                                                            </div>
                                                            <span class="post-counter style-three"> <a href=""> </a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-0ddf8d0 elementor-widget elementor-widget-all_tag_list" data-id="0ddf8d0" data-element_type="widget" data-widget_type="all_tag_list.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="tags-cloud">
                                                            <ul class="all-post-tags ">
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/abstract/" title="abstract">abstract</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/arcade/" title="arcade">arcade</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/art/" title="art">art</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/audi/" title="Audi">Audi</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/bar/" title="bar">bar</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/best/" title="best">best</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/bicycle/" title="bicycle">bicycle</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/blue/" title="blue">blue</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/bottle/" title="bottle">bottle</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/bulb/" title="Bulb">Bulb</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/camera/" title="camera">camera</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/car/" title="car">car</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/care/" title="care">care</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/clean/" title="clean">clean</a></li>
                                                                <li><a href="https://preview.spraythemes.com/maganizer/tag/closeup/" title="closeup">closeup</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-fb2178f elementor-widget elementor-widget-custom-title-design" data-id="fb2178f" data-element_type="widget" data-widget_type="custom-title-design.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="main-title style-three">
                                                            <div class="left-side-text">
                                                                <h2><span class="first-class">Trending News</span></h2>
                                                            </div>
                                                            <span class="post-counter style-three"> <a href="">See All</a> </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-element elementor-element-5ec7e2b elementor-widget elementor-widget-simple-post-list" data-id="5ec7e2b" data-element_type="widget" data-widget_type="simple-post-list.default">
                                                    <div class="elementor-widget-container">
                                                        <div class="simple-post-list">
                                                            <div class="post-content">
                                                                <div class="left-post-list-package text-only-post">
                                                                    <div class="list-post">
                                                                        <div class="content-section-right">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2020/05/30/best-countrys-you-should-travel-with-your-partner/">
                                                                                <h2 class="simple-title-color"> Best Country&#8217;s You Should Travel With Your Partner</h2>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="left-post-list-package text-only-post">
                                                                    <div class="list-post">
                                                                        <div class="content-section-right">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2020/05/30/top-10-womens-secrets-how-they-solve-there-personal-issues/">
                                                                                <h2 class="simple-title-color"> Top 10 Women&#8217;s Secrets how they Solve There Personal Issues</h2>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="left-post-list-package text-only-post">
                                                                    <div class="list-post">
                                                                        <div class="content-section-right">
                                                                            <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                            <a href="https://preview.spraythemes.com/maganizer/2020/05/30/cyber-game-2070-modern-game-design-will-publish-on-end-of-this-year/">
                                                                                <h2 class="simple-title-color"> Cyber Game 2070 &#8211; Modern Game Design Will Publish On End of This Year</h2>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="main-footer-section">
        <div data-elementor-type="wp-post" data-elementor-id="2649" class="elementor elementor-2649" data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-f666deb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f666deb" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                        <div class="elementor-container elementor-column-gap-default">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-80f72fa" data-id="80f72fa" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-bef3c80 elementor-widget elementor-widget-logo-uploader" data-id="bef3c80" data-element_type="widget" data-widget_type="logo-uploader.default">
                                                <div class="elementor-widget-container">
                                                    <div class="logo-uploader"> <a href="https://preview.spraythemes.com/maganizer/"> <img src="~/fonts/white-1.svg" alt="Maganizer WordPress Theme"> </a></div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-fa1ea8a elementor-widget elementor-widget-text-editor" data-id="fa1ea8a" data-element_type="widget" data-widget_type="text-editor.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-text-editor elementor-clearfix">
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-cd3c29e elementor-widget elementor-widget-shortcode" data-id="cd3c29e" data-element_type="widget" data-widget_type="shortcode.default">
                                                <div class="elementor-widget-container">
                                                    <div class="elementor-shortcode"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e8d6f71" data-id="e8d6f71" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-8d7c5ef elementor-widget elementor-widget-simple-post-list" data-id="8d7c5ef" data-element_type="widget" data-widget_type="simple-post-list.default">
                                                <div class="elementor-widget-container">
                                                    <div class="simple-post-list">
                                                        <div class="main-title">
                                                            <div class="left-side-text">
                                                                <h2><span class="first-class">Editor</span><span class="highlight">Pic</span></h2>
                                                                <span class="sub-text-new">Most Read post</span>
                                                            </div>
                                                            <span class="post-counter"> <a href="https://preview.spraythemes.com/maganizer/category/mix-of-art/">See All</a> </span>
                                                        </div>
                                                        <div class="post-content">
                                                            <div class="left-post-list-package vertic-post-ss">
                                                                <div class="list-post">
                                                                    <div class="post-image-left">
                                                                        <div class="height-sizer"></div>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/ma-in-black-aviator-sunglasses-with-purple-smoke-917594-scaled-140x100.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/ma-in-black-aviator-sunglasses-with-purple-smoke-917594-scaled-140x100.jpg.webp" data-alt="Stylish man in black aviator sunglasses with purple smoke" data-class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" data-height="100" data-width="140" class="ewww_webp"><img width="140" height="100" src="images/ma-in-black-aviator-sunglasses-with-purple-smoke-917594-scaled-140x100.jpg" class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" alt="Stylish man in black aviator sunglasses with purple smoke" loading="lazy" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section-right">
                                                                        <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/stylish-man-in-black-aviator-sunglasses-with-purple-smoke/">
                                                                            <h2 class="simple-title-color"> Stylish man in black aviator sunglasses with purple smoke</h2>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="left-post-list-package vertic-post-ss">
                                                                <div class="list-post">
                                                                    <div class="post-image-left">
                                                                        <div class="height-sizer"></div>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/smiling-man-standing-and-dancing-near-smiling-woman-2240771-scaled-140x100.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/smiling-man-standing-and-dancing-near-smiling-woman-2240771-scaled-140x100.jpg.webp" data-alt="Party Started &#8211; DJ standing and dancing near smiling woman surrounded" data-class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" data-height="100" data-width="140" class="ewww_webp"><img width="140" height="100" src="images/smiling-man-standing-and-dancing-near-smiling-woman-2240771-scaled-140x100.jpg" class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" alt="Party Started &#8211; DJ standing and dancing near smiling woman surrounded" loading="lazy" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section-right">
                                                                        <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/party-started-dj-standing-and-dancing-near-smiling-woman-surrounded/">
                                                                            <h2 class="simple-title-color"> Party Started &#8211; DJ standing and dancing near smiling woman surrounded</h2>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="left-post-list-package vertic-post-ss">
                                                                <div class="list-post">
                                                                    <div class="post-image-left">
                                                                        <div class="height-sizer"></div>
                                                                        <noscript data-img="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-140x100.jpg" data-webp="https://preview.spraythemes.com/maganizer/wp-content/uploads/2020/05/road-fashion-person-people-3818955-scaled-140x100.jpg.webp" data-alt="Music And Silent, Different Ways of the Life Balancing" data-class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" data-height="100" data-width="140" class="ewww_webp"><img width="140" height="100" src="images/road-fashion-person-people-3818955-scaled-140x100.jpg" class="attachment-maganizer-small-post-thumb size-maganizer-small-post-thumb wp-post-image" alt="Music And Silent, Different Ways of the Life Balancing" loading="lazy" data-eio="j"></noscript>
                                                                    </div>
                                                                    <div class="content-section-right">
                                                                        <div class="post-meta-data"> <span class="posted-by black">By</span> <a href="https://preview.spraythemes.com/maganizer/author/admin/" class="meta-links author redlink">WPSmart</a> <span class="meta-links post-date black placeright">9 months ago</span></div>
                                                                        <a href="https://preview.spraythemes.com/maganizer/2020/05/30/the-painting-color-of-the-story-teller-modern-and-unique-2/">
                                                                            <h2 class="simple-title-color"> Music And Silent, Different Ways of the Life Balancing</h2>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6ad88e3" data-id="6ad88e3" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-00ae696 elementor-widget elementor-widget-all_tag_list" data-id="00ae696" data-element_type="widget" data-widget_type="all_tag_list.default">
                                                <div class="elementor-widget-container">
                                                    <div class="tags-cloud">
                                                        <div class="main-title">
                                                            <div class="left-side-text">
                                                                <h2><span class="first-class">Top</span><span class="highlight">Tags</span></h2>
                                                                <span class="sub-text-new">Top Tag Cloud</span>
                                                            </div>
                                                            <span class="post-counter"> <span> 162 </span> <span class="textfed"> Tags </span> </span>
                                                        </div>
                                                        <ul class="all-post-tags ">
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/abstract/" title="abstract">abstract</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/arcade/" title="arcade">arcade</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/art/" title="art">art</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/audi/" title="Audi">Audi</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/bar/" title="bar">bar</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/best/" title="best">best</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/bicycle/" title="bicycle">bicycle</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/blue/" title="blue">blue</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/bottle/" title="bottle">bottle</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/bulb/" title="Bulb">Bulb</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/camera/" title="camera">camera</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/car/" title="car">car</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/care/" title="care">care</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/clean/" title="clean">clean</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/closeup/" title="closeup">closeup</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/cloud/" title="cloud">cloud</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/club/" title="club">club</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/color/" title="Color">Color</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/computer/" title="computer">computer</a></li>
                                                            <li><a href="https://preview.spraythemes.com/maganizer/tag/country/" title="country">country</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <link rel="preload" id="elementor-frontend-legacy-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/elementor/assets/css/frontend-legacy.min-3.1.1.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="elementor-frontend-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/elementor/assets/css/frontend.min-3.1.1.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="elementor-post-3574-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/uploads/elementor/css/post-3574-a5291fb8c4a1d59c3986379eb1435508.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="elementor-post-2649-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/uploads/elementor/css/post-2649-a2ab8871038b99aecc22163bc63f1495.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="elementor-icons-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/elementor/assets/lib/eicons/css/elementor-icons.min-5.10.0.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link rel="preload" id="elementor-animations-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/busting/1/maganizer/wp-content/plugins/elementor/assets/lib/animations/animations.min-3.1.1.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="elementor-post-2228-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/uploads/elementor/css/post-2228-5e25181d3ee270bf355b422f0ff504a1.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <link data-minify="1" rel="preload" id="elementor-global-css" href="https://preview.spraythemes.com/maganizer/wp-content/cache/min/1/maganizer/wp-content/uploads/elementor/css/global-6a6f8e6ebb1d9acceec03500ac568f26.css" as="style" onload="this.onload=null;this.rel='stylesheet'" type="text/css" media="all">
    <script type="text/javascript" id="contact-form-7-js-extra">/* <![CDATA[ */ var wpcf7 = {"apiSettings":{"root":"https:\/\/preview.spraythemes.com\/maganizer\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"cached":"1"}; /* ]]> */</script>
    <script type="text/javascript" id="wc-add-to-cart-js-extra">/* <![CDATA[ */ var wc_add_to_cart_params = {"ajax_url":"\/maganizer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/maganizer\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"https:\/\/preview.spraythemes.com\/maganizer\/cart\/","is_cart":"","cart_redirect_after_add":"no"}; /* ]]> */</script>
    <script type="text/javascript" id="woocommerce-js-extra">/* <![CDATA[ */ var woocommerce_params = {"ajax_url":"\/maganizer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/maganizer\/?wc-ajax=%%endpoint%%"}; /* ]]> */</script>
    <script type="text/javascript" id="wc-cart-fragments-js-extra">/* <![CDATA[ */ var wc_cart_fragments_params = {"ajax_url":"\/maganizer\/wp-admin\/admin-ajax.php","wc_ajax_url":"\/maganizer\/?wc-ajax=%%endpoint%%","cart_hash_key":"wc_cart_hash_d57122359893a3aa49d34d0835870de2","fragment_name":"wc_fragments_d57122359893a3aa49d34d0835870de2","request_timeout":"5000"}; /* ]]> */</script>
    <script type="text/javascript" id="elementor-frontend-js-before">var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.1","is_static":false,"experimentalFeatures":[],"urls":{"assets":"https:\/\/preview.spraythemes.com\/maganizer\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":3571,"title":"Magazine%204%20%E2%80%93%20Maganizer%20WordPress%20Theme","excerpt":"","featuredImage":false}};</script>
    <style></style>
    <script src="~/js/86d540150c5d3d1b1ba07c9f18a83608.js" data-minify="1" defer></script>
    <noscript>
        <link rel="stylesheet" href="~/css/css.css">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="wp-block-library-css" href="~/css/style.min.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="wp-block-library-theme-css" href="~/css/theme.min.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="wc-block-vendors-style-css" href="~/css/vendors-style-696a07b27d826107c883ee13c3bf0f1d.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="wc-block-style-css" href="~/css/style-619198ef5e47ed70e638b84c92e064f4.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="contact-form-7-css" href="~/css/styles-ec4e57bff0e835ef28b4c89cb1717afb.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="woocommerce-layout-css" href="~/css/woocommerce-layout-cc005ffd959c6bb1743989183a963496.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="woocommerce-smallscreen-css" href="~/css/woocommerce-smallscreen-5.0.0.css" type="text/css" media="only screen and (max-width: 768px)">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="woocommerce-general-css" href="~/css/woocommerce-cc40354525cf8823ccc9a7aae64db877.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="maganizer-style-css" href="~/css/style-bcc325fd19686fb7147f5ca545eac7b6.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="bootstrap-css" href="~/css/bootstrap-grid.min.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="owl-carousel-css" href="~/css/owl.carousel.min.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="font-awesome-four-css" href="~/css/all.min.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="maganizer-blocks-main-style-css" href="~/css/wps_style-c4183db079b4e89a7a8d7a285e67dd35.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="elementor-frontend-legacy-css" href="~/css/frontend-legacy.min-3.1.1.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="elementor-frontend-css" href="~/css/frontend.min-3.1.1.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="elementor-post-3574-css" href="~/css/post-3574-a5291fb8c4a1d59c3986379eb1435508.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="elementor-post-2649-css" href="~/css/post-2649-a2ab8871038b99aecc22163bc63f1495.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="elementor-icons-css" href="~/css/elementor-icons.min-5.10.0.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link rel="stylesheet" id="elementor-animations-css" href="~/css/animations.min-3.1.1.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="elementor-post-2228-css" href="~/css/post-2228-5e25181d3ee270bf355b422f0ff504a1.css" type="text/css" media="all">
    </noscript>
    <noscript>
        <link data-minify="1" rel="stylesheet" id="elementor-global-css" href="~/css/global-6a6f8e6ebb1d9acceec03500ac568f26.css" type="text/css" media="all">
    </noscript>
</body>
</html>
